#NavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: green;
    height: 10vh;
    position: sticky;
    top: 0;
    border-bottom: 1px solid white;
}

.Logo {
    width: 80px;
    height: 80px;
}